@model GrupoJap.Models.RentalContract
@{
}
<h2>Registar CLientes</h2>


<form method="post" asp-controller="RentalContract" asp-action="Create">
    <div class="form-group">
        <label asp-for="ClientId" class="control-label">Cliente</label>
        <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
    </div>
    <div class="form-group">
        <label asp-for="VehicleId" class="control-label">Veiculo</label>
        <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InitialKilometers" class="control-label"></label>
        <input asp-for="InitialKilometers" class="form-control" />
        <span asp-validation-for="InitialKilometers" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Registar</button>
    <a class="btn btn-primary " asp-controller="Client" asp-action="Index">Voltar</a>
</form>

