@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>GrupoJAP</h1>
    <h1 class="display-4">Aluguer de veículos</h1>
   


    <div>
        <a class="btn btn-primary " asp-controller="Vehicle" asp-action="Index">Veiculos</a>
        <a class="btn btn-primary " asp-controller="Client" asp-action="Index">Clientes</a>
        <a class="btn btn-primary " asp-controller="RentalContract" asp-action="Index">Alugar</a>
    </div>


    <div class="container">
        <p>Project Link <a href="https://github.com/Fabioferreira15/GrupoJapDesafio">GitHub</a>.</p>
    </div>

</div>
